<div class="row">
	<div>
		<input type="text" ng-model="query.term" placeholder="Search for movies">

		<span>Sort By:</span>
		<input type="radio" value="title" ng-model="query.sortBy">
		<label>Title</label>
		<input type="radio" value="rank" ng-model="query.sortBy" checked>
		<label>Rank</label>
		
		<span>Order By: </span>
		<input type="radio" ng-model="query.reverse" value="" checked>
		<label>Ascending</label>
		<input type="radio" ng-model="query.reverse" value="true">
		<label>Descending</label>
	</div>

	<div class="row">
		<div class="movieListItem columns large-12" ng-repeat="movie in movieData | filter: { title: query.term } | orderBy: query.sortBy : query.reverse">
			<a href="#/details/{{movie.rank}}">
				<div class="row">
					<div class="columns large-3">
						<img src="./data/images/{{ movie.imdbID }}.jpg">
					</div>
					<div class="columns large-9 listInfo">
						<h1>{{movie.title}}</h3>
						<h2>Rank: {{movie.rank}}</h4>
					</div>
				</div>
			</a>
		</div>
	</div>

</div>